* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.container {
    height: 95%;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 2px 7px 7px rgb(3, 28, 61);
    overflow-y: auto;
    background: linear-gradient( rgb(71, 71, 212), lightblue, rgb(207, 220, 223), lightblue, rgb(74, 74, 226));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mainContent {
    margin: 45px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    justify-self: flex-start;
    color: white;
}

.formBlock1 {
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.formBlock2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.userName, .emailInput, .password {
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.nameLabel, .emailLabel, .passwordLabel {
    height: 30px;
    width: 50px;
    line-height: 30px;
    margin: 0 0 10px 80px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-shadow: 5px 5px 6px rgb(95, 92, 92);
}

.valid {
    border-color: rgb(60, 67, 161);
    background-color: rgb(131, 164, 196);
}
  
.invalid {
    border-color: rgb(160, 30, 30);
    background-color: rgb(226, 177, 177);
}

.onFocus {
    background: rgb(153, 236, 232);
    border: 2px double blue;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px; 
}

.submitButton {
    width: 30%;
    height: 35px;
    line-height: 17px;
    padding: 3px 0;
    border: 3px solid rgb(27, 3, 65);
    border-radius: 25px;
    background:rgb(14, 40, 110);
    color: rgb(230, 234, 236);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.cursorOver {
    background-color: azure;
    color: rgb(51, 51, 172);
    border: 3px solid rgb(21, 4, 48);
}

@media screen and (max-width: 800px) {
    .container {
        min-width: 490px;
        height: 97%;
        width: 99%;
        margin: 10px auto;
        padding: 10px;
        box-shadow: 2px 7px 7px rgb(3, 28, 61);
        overflow-y: auto;
        background: linear-gradient( rgb(71, 71, 212), lightblue, rgb(207, 220, 223), lightblue, rgb(74, 74, 226));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .mainContent {
        margin: 35px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .formBlock1 {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        width: 24%;
        font-weight: bold;
    }

    .formBlock2 {
        width: 58%;
        display: flex;
        flex-direction: column;
    }
}
