@import  './sassPartials/vars';
@import  './sassPartials/inherits';
@import  './sassPartials/mixins';

* {
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

.calendarContainer {
    display: flex;
    border: 15px outset green;
    width: 95%;
    height: 100%;
    min-width: 360px;
    margin: $marginTop auto 0;

    @media screen and (max-width:790px) {
        display: flex;
        flex-direction: column;
        margin: 5px auto 0;
    }
}

.dayContainer {
    color: azure;
    background-color: rgb(74, 179, 144);
    width: 50%;
    @extend %flex-settings;
    
    .dayOfWeek {
        font-size: $fontSize * 1.2; 
    }

    .dayOfMonth {
        margin-top: $marginTop;
        font-size: $fontSize * 8;
    }
    
    @media screen and (max-width:790px) {
        @include mediaInclude(100%, 5px);
    }
}

.monthContainer {
    @extend %flex-settings;
    font-size: $fontSize;
    width: 50%;

    @media screen and (max-width:790px) {
        @include mediaInclude(100%, 5px);
    }
}

.calendarTable {
    width: 80%;
    border-spacing: 20px;
    text-align: center;

    @media screen and (max-width:790px) {
        width: 75%;
        border-spacing: 15px;
    }
}

.monthHeader {
    color: cadetblue;
    font: {
        weight: bold;
        size: $fontSize * 1.2;
    };
    margin-bottom: 15px;
}

.weekDays {
    color: rgb(243, 57, 82);
}

.currentMonth {
    color: grey;
    font-weight: bold;
}

.otherMonth {
    color: rgb(232, 233, 240);
}

.currentDay {
    border: 3px solid red {
        radius: 50%;
    };
    padding: 4px;
    color: red;
}

