@import './common/styles/vars';

.selectMenu {
  width: 100%;
  background: $back;
  min-width: $top * 2;
}

.list {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: $pos;
  flex-wrap: wrap;

  .listItem {
    display: flex;
    flex-direction: column;
    align-items: $pos;
    padding: 15px 0;
  }
}

.link {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #1411aa;

  &:hover {
    color: white;
  }
}

.pageNotFound {
  margin-top: $top;
  font-size: 2.5em;
  word-spacing: 0.4em;
  letter-spacing: 0.2em;
  text-shadow: 3px 3px 6px rgb(46, 2, 2);
  color: red;
  text-align: $pos;
}

.pageTitle {
  margin-top: $top;
  font-size: 3em;
  font-weight: bold;
  word-spacing: 0.5em;
  letter-spacing: 0.3em;
  text-shadow: 4px 4px 7px rgb(15, 5, 43);
  color: rgb(19, 16, 163);
  text-align: $pos;
}